$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../fonts/open-sans-fontface/open-sans.scss";
@import 'media.scss';

body{
	font-family: $font_family, Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: $color_gris_oscuro;
	background-color: $color_blanco;

	.os-extrabold{
		font-family: 'Open Sans Extrabold';
	}

	.slideShow{
		background-image: url('../images/bg-kumbao.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.btn-orange{
		background: $color_naranja;
		border: 0;
		box-shadow: inset 0 -3px rgba(0,0,0,.5);
		color: $color_blanco;

		&:hover{
			-moz-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-ms-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-o-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-webkit-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			background: $color_naranja_oscuro none repeat scroll 0% 0%;
			box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			color: $color_blanco_oscuro !important;
		}
	}

	.semantic-content:target{
		background: rgba(255,113,38, .5);
	}

	.color-naranja{
		color: $color_naranja;
	}

	iframe{
		border: 	none !important;
		bottom: 	0 !important;
		height: 	0 !important;
		margin: 	0 !important;
		padding: 	0 !important;
		top: 		0 !important;
	}

	header{
		figure{
			a{
				display: table;
				margin: auto;
			}

			img{
				display: block;
				margin: auto;
			}
		}
	}

	p, li{
		color: $color_gris_oscuro;
		font-size: 1em;
	}

	a {
		text-decoration: none;

		&:hover {
			color: $color_naranja;
			text-decoration: underline;
		}

		&:active{
			color: yellowgreen
		}

		&:visited{
			color: $color_blanco
		}
	}

	ul li {
		list-style-type: none;
	}

	header, section, footer{
		width: 100%;
		*display: block;
	}

	/*menu*/
	#icono {
		border-radius: 50%;
		border: 2px solid $color_blanco;
		cursor: pointer;
		float: right;
		margin-right: 32px;
		overflow: hidden;
		padding: 15px;
		position: relative;
		z-index: 1001;

		div{
			background: $color_blanco;
			border-radius: 10px;
			height: 5px;
			margin: 4px auto;
			transition: all .3s;
			width: 30px;
		}

		&.active{
			.one{
				-moz-transform: rotate(45deg) translate(5px,5px);
				-ms-transform: rotate(45deg) translate(5px,5px);
				-o-transform: rotate(45deg) translate(5px,5px);
				-webkit-transform: rotate(45deg) translate(5px,5px);
				transform: rotate(45deg) translate(5px,5px);
			}

			.two {
				opacity: 0;
			}

			.three{
				-moz-transform: rotate(-45deg) translate(7px,-8px);
				-ms-transform: rotate(-45deg) translate(7px,-8px);
				-o-transform: rotate(-45deg) translate(7px,-8px);
				-webkit-transform: rotate(-45deg) translate(7px,-8px);
				transform: rotate(-45deg) translate(7px,-8px);
			}
		}
	}

	/*.toggle-menu {
		height: auto;
		left: 0;
		overflow: hidden;
		top: 0;
		z-index: 103;
	}*/

	#menu-k {
		//background: rgba(0, 0, 0, 0.2);
		color: $color_gris_oscuro;
		display: none;
		height: auto;
		margin-top: 75px;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		right: 0;
		z-index: 999;

		ul{
			margin: 0 auto;
			padding: 5px 15px;
			//border: 1px solid $color_naranja_claro;

			li{
				border-bottom: 1px solid $color_blanco;
				display: block;
				line-height: 0;
				list-style-type: none;
				margin: 0 auto;
				padding: 9px 0 5px 0;
				position: relative;

				&:last-child{
					border: none !important;
				}

				a{
					color: $color_blanco;
					display: block;
					padding: 5px 0px;
					text-align: left;

					img{
						display: inline;
						margin-top: -5px;
					}

					span{
						border-left: 1px solid $color_blanco;
						padding-left: 5px;
						font: 1.5em 'Open Sans Bold' !important;
					}

					&:hover{
						text-decoration: initial;
					}
				}
			}
		}
	}

	.overlay {
		background: rgba(0, 0, 0, .8);
		bottom: 0;
		height: 100%;
		left: 0;
		margin-top: 0;
		padding: 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 1000;
	}

	footer {
		background: $color_gris_oscuro;
		min-height: 120px;
		padding: 30px 0;
		vertical-align: bottom;

		ul>li>a{
			color: $color_blanco;
			font-size: .8em;

			&:hover{
				color: $color_naranja !important
			}
		}

		blockquote{
			border-left: 1px solid $color_gris;
			color: $color_blanco;
			font-size: .8em;
			padding: 10px;
		}

		.row div:last-child ul{
			padding-left: 0
		}
	}

	.jumbotron{
		background: transparent;
		text-align: center;

		h1 {
			color: $color_blanco !important;
			font-size: 2.8em;
			margin-bottom: 15px;
			margin-left: 0;
			text-shadow: 2px 3px 5px $color_gris_oscuro;
		}

		a{
			&.btn {
				font-size: 21px;
				padding: 14px 24px;
			}

			&:active{
				color: yellowgreen
			}

			&:visited{
				color: $color_blanco
			}
		}

		p {
			color: $color_blanco !important;
		}
	}

	.phrase{
		background: $color_gris;

		a.btn{
			background: url('../images/btn-white.png') no-repeat;
			border-radius: 0;
			color: $color_gris;
			font-family: Open Sans Bold;
			padding: 10px 30px;
			-webkit-animation-duration: 5s;
			-webkit-animation-delay: 2s;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-duration: 5s;
			-moz-animation-delay: 2s;
			-moz-animation-iteration-count: infinite;

			&:hover{
				background: $color_blanco_oscuro;
			}
		}

		h2{
			color: $color_blanco;
			font-size: 1.2em;
			text-align: right;
		}
	}
	/* Supporting marketing content */
	.marketing {
		margin: 25px 0;

		p + h4{
			margin-top: 28px !important;
			border: 5px solid red;
			background: cyan;
		}
	}

	.robotic{
		background-image: url('../images/bg-robotica.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 20px solid $color_gris;
		display: block;
		padding-top:50px;

		img {
			cursor: pointer;
		}

		.row{
			div:first-child img{
				display: block;
				margin: auto;
			}
		}

		h3{
			color: $color_gris;
			font-size: $tamanio_fuente;
			margin-top: 65px;

			strong{
				color: $color_naranja;
			}
		}
	}

	.tv{
		background-image: url('../images/bg-tv.jpg');
		display: block;
		padding-top: 25px;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 20px solid $color_naranja;

		h4{
			color: $color_blanco;
			font-size: $tamanio_fuente;

			strong{
				color: $color_naranja;
			}
		}

		p{
			color: $color_blanco;
		}
	}

	.genius{
		background-image: url('../images/bg-genios.jpg');
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 20px solid $color_gris;

		.row div:last-child{
			position: inherit;

			img{
				float: right;
				position: absolute;
				right: 0;
			}
		}

		h3{
			color: $color_gris;
			font-size: $tamanio_fuente;/*
			-webkit-animation-duration: 5s;
			-webkit-animation-delay: 2s;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-duration: 5s;
			-moz-animation-delay: 2s;
			-moz-animation-iteration-count: infinite;*/

			span{
			color: $color_naranja;
			}
		}
	}

	.ebook{
		background-image: url("../images/bg-ebook.jpg");
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 20px 0 80px 0;

		h3{
			color: $color_naranja;
			font-size: 3em;
		}

		p{
			font: 1.5em 'Open Sans Light';

			strong{
				font-family: 'Open Sans Bold';
			}

			span{
				color: $color_naranja;
				font-family: 'Open Sans Bold';
			}
		}

		ul{
			li{
				color: $color_gris;
				list-style-image: url('../images/li.png');
				padding-bottom: 15px;
			}
		}
	}

	.carousel{
		background-image: url('../images/bg-carousel.png');
		display: block;
		background-repeat: no-repeat;
		background-size: cover;

		h2{
			font: 3rem 'Open Sans Bold';
			text-align: center;
			color: $color_blanco;
		}
	}
	//popup registro
	.formSuscribir {
		background: $color_blanco_oscu2;
		border-radius: 15px;
		padding: 30px 40px;
	}

	.titulo_form {
		color: $color_gris_oscuro;
		font-size: 1.8em;
		text-align: center;
	}

	.info_free {
		color: $color_gris_oscuro;
		font-size: 0.8em;
		margin-top: 10px;
	}

	.formKumbao input[type="text"],
	.formKumbao input[type="email"],
	.formKumbao select {
		background: $color_blanco_oscuro;
		border-radius: 10px;
		border: 1px solid $color_gris;
		color: $color_gris_oscuro;
		display: block;
		margin: auto;
		padding: 12px;
		width: 95%;
	}

	.formKumbao input[type="text"]:focus,
	.formKumbao input[type="email"]:focus,
	.formKumbao select:focus {
		color: $color_naranja;
		font-family: 'Open Sans Bold';
	}

	.btn-rojo, input[type="submit"].v2c_btn_submit {
		-moz-border-radius: 6px;
		-ms-border-radius: 6px;
		-o-border-radius: 6px;
		-webkit-border-radius: 6px;
		background: $color_naranja;
		border-radius: 6px;
		border: 0;
		color: $color_blanco;
		cursor: pointer;
		font: 1.4em 'Open Sans Bold';
		margin-top: 20px;
		padding: 10px 35px;
		width: 100%;

		&:hover{
			-moz-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-ms-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-o-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			-webkit-box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			background: $color_naranja_oscuro none repeat scroll 0% 0%;
			box-shadow: inset 0 -.2em rgba(0,0,0,.3);
			color: $color_blanco_oscuro !important;
		}
	}

}
