$tamanio_fuente: 2em;
$font_family: Open Sans Regular;
$border_radius: 5px;
$color_blanco: #ffffff;
$color_blanco_oscuro: #ececec;
$color_blanco_oscu2: #DCDCDC;
$color_gris: #5a5a5a;
$color_gris_oscuro: #212020;
$color_naranja: #ff5e00;
$color_naranja_claro: #ff7126;
$color_naranja_oscuro: #ff4000;